:root {
  --color-w: #f6f6ff;
  --color-b: #435267;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-b);
  font-family: "Roboto", sans-serif;
  list-style: none;
}

body {
  background-color: bisque;
}
.container {
  background-color: var(--color-w);
  margin-left: 5em;
  margin-right: 5em;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu li a {
  text-decoration: none;
}
#burger-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  background-color: var(--color-w);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  justify-self: flex-start;
  display: none;
}

@media screen and (max-width: 768px) {
  #burger-button {
    display: block;
  }
  .menu {
    position: fixed;
    font-size: 30px;
    background-color: var(--color-w);
    z-index: 9;
    top: 0;
    bottom: 0;
    right: -100vw;
    width: 50vw;
    color: var(--color-b);
  }
  .menu.is-active {
    right: 0;
  }
}
